.strip-wrapper__item {
    width: 100%;
    padding-top: 25;
}

.empty-avatar__bg {
    width: 50;
    height: 50;
    border-radius: 100%;
    background-color: #e4e6e7;
}

.empty-avatar__img {
    color: #ffffff;
    font-size: 25;
    text-align: center;
    vertical-align: center;
    z-index: 2;
}

.avatar {
    width: 50;
    height: 50;
    border-radius: 100%;
}

.strip-post-name {
    margin: 0 10;
}

.strip-user-name,
.strip-post-title {
    font-weight: bold;
    font-size: 16;
}

.strip-post-description {
    font-weight: 400;
    font-size: 14;
    width: 100%;
}

.strip-photo {
    width: 100%;
    height: 300;
}

.strip-photo__action-bg {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300;
    background: rgba(0, 0, 0, 0.3);;
    z-index: 1;
}

.strip-photo__action-icon {
    font-size: 50;
    color: #ffffff;
    opacity: 1;
}

.strip-post__info {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 14;
}

.strip-post__info_count {
    margin-left: 5;
}
