.wrapper {
    padding-top: 25;
}

.profile__action {
    justify-content: space-between;
    align-items: center;
    font-size: 18;
    padding: 10;
}

.profile__action-icon {
    padding: 10;
}

.post-preview {
    width: 100%;
    margin-bottom: 20;
}

.profile__input {
    font-size: 16;
}
