<StackLayout *ngIf="user">
    <StackLayout class="wrapper">
        <FlexboxLayout margin="10">
            <AbsoluteLayout class="avatar__wrapper">
                <Label *ngIf="!cameraImage && !user.avatar" class="empty-avatar__bg"></Label>
                <Label
                    *ngIf="!cameraImage && !user.avatar"
                    top="20"
                    left="27"
                    text="&#xf007;"
                    class="fas empty-avatar__img"
                ></Label>

                <!--                <Image *ngIf="!cameraImage && user.avatar" class="avatar" [src]="user.avatar"></Image>-->
                <FrescoDrawee
                    *ngIf="!cameraImage && user.avatar"
                    class="avatar"
                    roundAsCircle="true"
                    [imageUri]="user.avatar"
                ></FrescoDrawee>
                <Image *ngIf="cameraImage" class="avatar" [src]="cameraImage" stretch="aspectFill" margin="10"></Image>

                <Label (tap)="openBottomSheet()" top="65" left="65" class="change-avatar__bg"></Label>
                <Label top="69.5" left="73.5" text="&#xf030;" class="fas change-avatar__img"></Label>
            </AbsoluteLayout>
            <FlexboxLayout class="common-info">
                <Label class="profile__count" [text]="user.posts.length"></Label>
                <Label class="profile__info" text="Ваши"></Label>
                <Label class="profile__info" text="посты"></Label>
            </FlexboxLayout>
        </FlexboxLayout>

        <Label *ngIf="user.name" class="profile__name" [text]="user.name"></Label>
        <TextView
            editable="false"
            class="profile__about"
            borderBottomColor="transparent"
            text="psdkfposadkfpspofkspdkfpokdsapofksdakfo sd;fdslam fawe adslmfasdmf sdf jsdmf;sdamf; sd mafklsdm ;lsdfma;oweug;sodfmlsdafi and;owe;alwmfdsanfdg ;lmwafl dsm;fa di adjds;lf m;lsdmf;oiwaemf;aomsoafm sld;amfa;dom"
        ></TextView>
        <Label class="profile-button" text="Редактировать профиль" (tap)="onEditTap()"></Label>
        <GridLayout rows="50, *">
            <GridLayout row="0" columns="*,*">
                <Label
                    col="0"
                    text="Все"
                    class="tab-header"
                    (tap)="onTabTap('all')"
                    [ngClass]="{
                        tabselected: isSelected == 'all' ? true : false,
                        tabnotselected: isSelected != 'all' ? true : false
                    }"
                ></Label>
                <Label
                    col="1"
                    text="Лента"
                    class="tab-header"
                    (tap)="onTabTap('strip')"
                    [ngClass]="{
                        tabselected: isSelected == 'strip' ? true : false,
                        tabnotselected: isSelected != 'strip' ? true : false
                    }"
                ></Label>
            </GridLayout>
            <StackLayout row="1" [visibility]="isSelected === 'all' ? 'visible' : 'collapse'">
                <ns-all-user-posts [posts]="user.posts"></ns-all-user-posts>
            </StackLayout>
            <StackLayout row="1" [visibility]="isSelected === 'strip' ? 'visible' : 'collapse'">
                <ns-posts-strip [user]="user"></ns-posts-strip>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <!--    -->
    <!--    <ns-posts-strip [user]="user"></ns-posts-strip>-->
    <!--    <ns-all-user-posts [posts]="user.posts"></ns-all-user-posts>-->
    <!--    <TabView>-->
    <!--        <GridLayout *tabItem="{ title: 'Все' }">-->
    <!--            <ns-all-user-posts [posts]="user.posts"></ns-all-user-posts>-->
    <!--        </GridLayout>-->
    <!--        <GridLayout *tabItem="{ title: 'Лента' }">-->
    <!--            <ns-posts-strip [user]="user"></ns-posts-strip>-->
    <!--        </GridLayout>-->
    <!--    </TabView>-->
</StackLayout>

<!--<StackLayout *ngIf="user">-->
<!--    <StackLayout class="wrapper">-->
<!--        <FlexboxLayout margin="10">-->
<!--            <AbsoluteLayout class="avatar__wrapper">-->
<!--                <Label *ngIf="!cameraImage && !user.avatar" class="empty-avatar__bg"></Label>-->
<!--                <Label-->
<!--                    *ngIf="!cameraImage && !user.avatar"-->
<!--                    top="20"-->
<!--                    left="27"-->
<!--                    text="&#xf007;"-->
<!--                    class="fas empty-avatar__img"-->
<!--                ></Label>-->

<!--                &lt;!&ndash;                <Image *ngIf="!cameraImage && user.avatar" class="avatar" [src]="user.avatar"></Image>&ndash;&gt;-->
<!--                <FrescoDrawee-->
<!--                        *ngIf="!cameraImage && user.avatar"-->
<!--                        class="avatar"-->
<!--                        roundAsCircle="true"-->
<!--                        [imageUri]="user.avatar"-->
<!--                ></FrescoDrawee>-->
<!--                <Image *ngIf="cameraImage" class="avatar" [src]="cameraImage" stretch="aspectFill" margin="10"></Image>-->

<!--                <Label (tap)="openBottomSheet()" top="65" left="65" class="change-avatar__bg"></Label>-->
<!--                <Label top="69.5" left="73.5" text="&#xf030;" class="fas change-avatar__img"></Label>-->
<!--            </AbsoluteLayout>-->
<!--            <FlexboxLayout class="common-info">-->
<!--                <Label class="profile__count" [text]="user.posts.length"></Label>-->
<!--                <Label class="profile__info" text="Ваши"></Label>-->
<!--                <Label class="profile__info" text="посты"></Label>-->
<!--            </FlexboxLayout>-->
<!--        </FlexboxLayout>-->

<!--        <Label *ngIf="user.name" class="profile__name" [text]="user.name"></Label>-->
<!--        <TextView-->
<!--            editable="false"-->
<!--            class="profile__about"-->
<!--            borderBottomColor="transparent"-->
<!--            text="psdkfposadkfpspofkspdkfpokdsapofksdakfo sd;fdslamfaweadslmfasdmf sdf jsdmf;sdamf; sd mafklsdm ;lsdfma;oweug;sodfmlsdafi and;owe;alwmfdsanfdg ;lmwafl dsm;fa di adjds;lf m;lsdmf;oiwaemf;aomsoafm sld;amfa;dom"-->
<!--        ></TextView>-->
<!--        <Label class="profile-button" text="Редактировать профиль" (tap)="onEditTap()"></Label>-->

<!--        <TabView>-->
<!--            <GridLayout *tabItem="{ title: 'Все' }">-->
<!--                <ns-all-user-posts [posts]="user.posts"></ns-all-user-posts>-->
<!--            </GridLayout>-->
<!--            <GridLayout *tabItem="{ title: 'Лента' }">-->
<!--                <ns-posts-strip [user]="user"></ns-posts-strip>-->
<!--            </GridLayout>-->
<!--        </TabView>-->
<!--    </StackLayout>-->
<!--</StackLayout>-->
